<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find your favorite Restaurant!">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <title>Re:staurant</title>
</head>

<body>
  <a href="#main" class="skip-link">Skip to Content</a>
  <header>
    <div class="header-container">
      <div class="header-logo">
        <p><i>Re:staurant</i></p>
      </div>
      <button id="hamburger" class="hamburger" aria-label="Navigation Menu">☰</button>
      <nav id="drawer">
        <ul class="nav-list">
          <li class="nav-item"><a href="">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item"><a href="">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero-inner-title"><i>Re:<span>staurant</span></i></h1>
        <p class="hero-inner-tagline">Find your favorite Restaurant!</p>
        <button type="submit" class="hero-inner-button" href="#main">Explore</button>
      </div>
    </div>
    <section id="main">

    </section>
  </main>
</body>

</html>